
/* add your custom css here */
body {
    max-width: 640px;
    margin: 0 auto;
}
#my-svg-chart, svg {
    position: relative;
    display: block;
    margin: 0 auto;
}

button {
    cursor: pointer;
    margin: 0 auto 10px auto;
    display: inline-block;
}


/* THIS IS FROM SCROLLAMA */
